.about {
  padding: 10% 10%;
  background: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080a0b 99.74%), url("../../assets/landing-assets/the-games-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}
@media (max-width: 1200px) {
  .about {
    padding: 15% 10%;
  }
}
@media (max-width: 992px) {
  .about {
    padding: 15% 15%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .about {
    padding: 25% 10%;
  }
}
@media (max-width: 576px) {
  .about {
    padding: 50% 5% 40% 5%;
  }
}
