


/* CSS Line */

.game-list-page {
    max-width: 100vw;
    min-height: 100vh;

    background-image: url(../assets/game-list-page-assets/the-games-bg.jpg);
    
}

.game-list-page-main {
    width: 80%;
    margin: auto;
    padding: 2rem 0px 2rem;
    
    box-sizing: border-box;
}



.section-holder {
    width: 100%;

    padding: 0px 30px;
    margin-bottom: 2rem;
}

.section-header {
    color: white;

    padding: 20px 0px;
    margin-bottom: 1rem;

    border-bottom: 1px solid white;
}



.game-card-holder {

    display: flex;
    align-items: center;

    overflow-y: auto;

}

.game-card-holder-all {
    
    display: flex;
    align-items: center;
    
    flex-wrap: wrap;
}





