* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

body {
    height: 100vh;
    background-image: url(../assets/game-list-page-assets/main-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 300px;
    background-color: rgba(0,0,0,.3);
    width: 500px;
}

.container h1 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 4px solid #dc143c;
}

.container label {
    text-align: left;
    color: white;
}

.container form input {
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #dc143c;
    font-size: 20px;
}

.container form button {
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color: blueviolet;
    font-size: 18px;

}